body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: limegreen; /* Sanity Check! */
  background-image: url("images/charlie.jpg"); 
  background-position: center;
  background-size: 12em;
  color: black;
  font-weight: 900;
  opacity: 9;
}


h1 {
  margin-top: 100px;
  text-align: center;
  border: 2em;
  background-color: white;
  opacity: 5;
  position: relative;
  width: 0 auto;
}

h3 {
	text-align: center;
	background-color: white;
	position: relative;
	width: 0 auto;
}

button {
	color: black;
}

label {
	background-color: white;
	position: relative;
}

ul {
	background-color: white;
	position: relative;
}

li {
	background-color: white;
	width: 0 auto;
}