<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
    <title>Portflio</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="main.js"></script>
  </head>
  <body>

    <div id="wrapper">
      <header>
        <div id="header-inner">
          <div id="logo">
            <a href="#">Travel Mate</a>
          </div>

          <ul>
            <li><a href="/">HOME</a></li>
            <li><a id="log-in" href="#">LOG IN</a>
              <span id="log-in-menu">
                <div class="arrow-up"></div>
                <div class="arrow-up-top"></div>
                
                <form id="log-in-form" method="POST" action="/sessions">
                <div class="form-group">
                  <input type="text" name="username" class="form-control" placeholder="USERNAME" autofocus>
                  <input type="password" name="password" class="form-control" placeholder="PASSWORD" autofocus>
                  <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox">
                    <label for="checkboxG1" class="css-label">REMEMBER ME</label>
                </div>
                <div class="submit-area">
                  <input type="submit" value="LOG IN">
                </div>
              </span>
            </li>

<!--   <form id="log-in-form" method="POST" action="/sessions">
          <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Email" autofocus>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="submit" value="Log In" class="btn btn-primary">
          </div>
          <a href="/signup">Sign Up</a> -->







            <li><a id="sign-up" href="#">SIGN UP</a>
              <span id="sign-up-menu">
                <div class="arrow-up"></div>
                <div class="arrow-up-top"></div>
                
                <div class="form">
                  <input type="text" placeholder="FIRST NAME">
                  <input type="text" placeholder="LAST NAME">
                  <input type="text" placeholder="EMAIL">
                  <input type="password" placeholder="PASSWORD">

                  <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox">
                    <label for="checkboxG1" class="css-label">REMEMBER ME</label>
                </div>

                <div class="submit-area">
                  <input type="submit" value="SIGN UP">
                </div>
              </span>
            </li>
              
            </li>
          </ul>
        </div>
      </header>

      <div id="content">
        <div class="post">
          
        </div>
        <div class="post">
          
        </div>
        <div class="post">
          
        </div>
      </div>
    </div>
  </body>
</html>