.mammal{
	color:red;
	background-color: oliveDrab;
}

.bird{
	color: blue;
	background-color: skyBlue;
}

.fish{
	color: orange;
	background-color: aqua;
}

#mouse{
	color: gray;
}

#canary{
	color: orangeRed;
}

#penguin{
	color: black;
}

#salmon{
	color: salmon;
}

#cat{
	color: sienna;
}

#goldfish{
	color: goldenRod;
}

#dog{
	color: tan;
}

#sheep{
	color: steelBlue;
}

#parakeet{
	color: lime;
}

#tuna{
	color: red;
}