**/.DS_Store
**/.bundle
**/.tmp
**/.log
Cyndy528/*
DaniZaghian/*
Exercises/*
FrancescaLong/*
HollisDayCheer/*
KennPangilinan/*
Laulaucia/*
Racha_Bella_day3/*
TannedAlbino/*
angelo2dot0/*
bgabot89/*
jenniferkwok/*
jshin8/*
krustacean/*
lauraevans99/*
margauxwithanx/*
mikeypawell/*
mpcowles726/*
robwills127/*
day2.html
day3.html
passion_project.html
script.js
stylesheet.css
