#board {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid yellow;
  background-color: #DAA520;
}
.box {
  border: 1px solid black;
  height: 150px;
}
.container {
  border: 1px solid red;
  background-color: #EEE8AA;
}
.row {
  border: 1px solid green;
}
h1 {
	font-family: 'Indie Flower', cursive;
}
