body {
	background-color: #FFD6FF; 
}

h1{  
	color: #FF0066;
	font-family: 'Dawning of a New Day', cursive;;
	font-size: 80px;
	height: 40px;
	position: relative;
	vertical-align: text-top;	
	left: 12%;
}

#button1 {
	position: relative;
	vertical-align: text-top;
	left: -32%;
	margin-top: 50%;
	font-family: 'Dawning of a New Day', cursive;
	font-size: 30px;
	color: white;
	background-color: #FF0066; 

}

#ttt_grid { 
	width: 700px;
	float: left;
	font-size: 60px;
	padding: 38px 0;
}

.row {                
	width: 80%; 
	height: 150%;
	font-family: 'Dawning of a New Day', cursive;;

}

.square {
	width: 33%;
	height: 150px; 
	border: 5px solid #FF0066; 
	float: left;
	font-family: 'Dawning of a New Day', cursive;;

}






