#board {
  margin-top: 10px;
  font-size: 275%;
  text-align: center;
  margin-bottom: 200px;
}

.box {
  border: 1px solid green;
  height: 150px;
  font-size: 275%;
  text-align: center;
}

#playersTurn {
	font-size: 180%;
}

button {
	background-color: red;
}