<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Micro Blog</title>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- STYLESHEETS <link rel="stylesheet" href="styles.css"> -->

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--Makes text draggable -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS 
    <script src="base.js"></script>

    <script src="/static/js/app.js"></script> -->


<script src="/static/parse.min.js"></script>

<!-- ToEat.ly -->
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <script src="/static/app.js"></script>



  </head>
     <!--Main Header -->
    <div class="jumbotron">
      <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h1>Blog of Accomplishments</h1>
        <p> Simply post a list of your goals, post them and drag them to the Finished section when you're done! </p> 
        </div>
      </div>
    </div>
    <!--All body goes here -->

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>What new goal do you have in mind?</h1>

          <!-- Black line below jumbotron 
        <hr WIDTH="100%" COLOR="black" Align = "LEFT"> -->


        <!--This button will add an input box, the user will type their blog post here -->
      
        <!-- When the user wants to submit their blog post on the site they will click on the site -->
        <form class="form-inline" id="new-list-form">
            <input type="text" name="name" id="searchinput" class="form-control" placeholder = "Today I'm Going to...." >           
        <button type="submit" class="btn btn-primary" id="submitButton">Post It!</button>
        </form>
      </div>
        </div>
    </div>


    <!--The user's blog post will be placed in the following subsection 1 -->
    <div class ="row">
      <div class="col-lg-4 col-lg-push-1" id="col1">
      <p1> Going to Do it! </p1>
      <div class ="subsection"> </div>

      <!-- adds list from database to ejs -->
      <ul class="list-group" id="list-ul">
    <% for (var i=0; i<list.length; i++) { %>
      <li class="list-group-item">
        <h4 class="list-group-item-heading"><%= list[i].name %></h4>
          <button data-id="<%=list[i].id %>" type='button' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
      </li>
    <% } %>
    </ul>


      </div>


 <!--The user's blog post will be placed in the following subsection 2 -->
      <div class="col-lg-4 col-lg-push-2" id="col2">
      <p1> Finished! </p1>
      <div class = "subsection2">


      </div>

      </div>

      </div>

  </body>
</html>