
body {
  color: #333;
  font-family: 'Lora', serif;
  background: repeating-linear-gradient(
  45deg,
  #C4FFFC,
  #C4FFFC 10px,
  #A6FFFB 10px,
  #A6FFFB 20px
);
}

#delete, #submit{
	float: right;
}