<!-- app/views/creatures/index.html.erb` -->

<% @creatures.each do |creature| %> <br>

    <div>
        Name: <%= creature.name %> <br>
        Description: <%=  creature.description %> <br>
    </div>

<% end %>

