#container {
    height: 500px;
    width: 500px;
    background-color: gray;
}
#square1 {
    background-color: red;
    height: 100px;
    width: 100px;
}
#square2 {
    background-color: blue;
    height: 100px;
    width: 100px;
}
#square3 {
    background-color: green;
    height: 100px;
    width: 100px;
}
#square4 {
    background-color: black;
    height: 100px;
    width: 100px;
}
* {
    border: 1px solid red !important;
}
div {
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 12px;
  margin-left: 5px;
}