.row {
  border-radius: ;
}
h1{
font-family:  'Rock Salt', cursive;
color: blue;

}
.col-lg-6{

 }
 .buttons {
 	display: inline-block;
 	margin: 10px;
 	padding: 20px;
 }
 button{
 	
 	margin-left: 60px;
 	height: 60px;
    width: 100px;
    border-radius: 5px;
    background-color: #69D2E7;
    text-align: center;
    color: black;
    font-family: Verdana, Arial, Sans-Serif;
    
 }

 #after {
 	border-color: blue;
 	border-width: 2px;
 }