.container {
  max-width: 800px;
  margin: 10px auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.grid {
  float: left;
  width: 60%;
  margin-left: 20%;
}

.instructions {
  float: left;
  width: 20%;
}

table {
  margin: auto;
}

table tr td {
  height: 30px;
  width: 30px;
  padding: 10px;
  border: 2px solid #ccc;
}

.dot {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.btn {
  background-color: white;
  text-decoration: none;
  border: 1px solid #777;
  padding: 10px;
  border-radius: 3px;
}

.reset {
  display: none;
}
